# Working with Text Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SMSSpamCollection' , sep='\t' , header = None , names= ['Status' , 'Messages'])

In [3]:
df.head()

  Status                                           Messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

# Upper Lower Tile and Len

In [4]:
df.head()

  Status                                           Messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df['Status'].str.upper()

0        HAM
1        HAM
2       SPAM
3        HAM
4        HAM
        ...
5567    SPAM
5568     HAM
5569     HAM
5570     HAM
5571     HAM
Name: Status, Length: 5572, dtype: object

In [6]:
df['Messages'].str.upper()

0       GO UNTIL JURONG POINT, CRAZY.. AVAILABLE ONLY ...
1                           OK LAR... JOKING WIF U ONI...
2       FREE ENTRY IN 2 A WKLY COMP TO WIN FA CUP FINA...
3       U DUN SAY SO EARLY HOR... U C ALREADY THEN SAY...
4       NAH I DON'T THINK HE GOES TO USF, HE LIVES ARO...
                              ...
5567    THIS IS THE 2ND TIME WE HAVE TRIED 2 CONTACT U...
5568                 WILL Ü B GOING TO ESPLANADE FR HOME?
5569    PITY, * WAS IN MOOD FOR THAT. SO...ANY OTHER S...
5570    THE GUY DID SOME BITCHING BUT I ACTED LIKE I'D...
5571                           ROFL. ITS TRUE TO ITS NAME
Name: Messages, Length: 5572, dtype: object

In [7]:
df['Status'].str.title()

0        Ham
1        Ham
2       Spam
3        Ham
4        Ham
        ...
5567    Spam
5568     Ham
5569     Ham
5570     Ham
5571     Ham
Name: Status, Length: 5572, dtype: object

In [8]:
df['Messages'].str.title()

0       Go Until Jurong Point, Crazy.. Available Only ...
1                           Ok Lar... Joking Wif U Oni...
2       Free Entry In 2 A Wkly Comp To Win Fa Cup Fina...
3       U Dun Say So Early Hor... U C Already Then Say...
4       Nah I Don'T Think He Goes To Usf, He Lives Aro...
                              ...
5567    This Is The 2Nd Time We Have Tried 2 Contact U...
5568                 Will Ü B Going To Esplanade Fr Home?
5569    Pity, * Was In Mood For That. So...Any Other S...
5570    The Guy Did Some Bitching But I Acted Like I'D...
5571                           Rofl. Its True To Its Name
Name: Messages, Length: 5572, dtype: object

In [9]:
df['Status'].str.len()

0       3
1       3
2       4
3       3
4       3
       ..
5567    4
5568    3
5569    3
5570    3
5571    3
Name: Status, Length: 5572, dtype: int64

In [10]:
df['Messages'].str.len()

0       111
1        29
2       155
3        49
4        61
       ...
5567    160
5568     36
5569     57
5570    125
5571     26
Name: Messages, Length: 5572, dtype: int64

In [11]:
df['Messages'][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [12]:
len(df['Messages'][0])

111

In [13]:
len(df['Messages'][1])

29

In [14]:
len(df['Messages'][5567])

160

# Replace Stop word remove, startwith, endswith

In [15]:
'i am leaning'

'i am leaning'

In [16]:
'i am leaning'.replace('i am' , 'you are')

'you are leaning'

In [17]:
df.head()

  Status                                           Messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
df['Messages'][3]

'U dun say so early hor... U c already then say...'

In [19]:
df['Messages'][3].replace('...' , '')

'U dun say so early hor U c already then say'

In [20]:
type(df['Messages'][3].replace('...' , ''))

str

In [21]:
df['Messages'][3].replace('...' , ' ')

'U dun say so early hor  U c already then say '

In [22]:
df['Messages'][3].replace('...' , ' ').strip()

'U dun say so early hor  U c already then say'

In [23]:
df['Messages'][3].replace('so' , '')

'U dun say  early hor... U c already then say...'

In [24]:
df['Messages'][3].replace('so' , '').replace('then' , '') #stop word remove

'U dun say  early hor... U c already  say...'

In [25]:
df[df['Messages'].str.startswith(' ')]

     Status                                           Messages
642     ham   said kiss, kiss, i can't do the sound effects...
2766    ham           and  picking them up from various points
3016    ham   &lt;#&gt;  mins but i had to stop somewhere f...
3032    ham   gonna let me know cos comes bak from holiday ...
3328    ham                what number do u live at? Is it 11?
3673    ham   came to look at the flat, seems ok, in his 50...
4026    ham                &lt;#&gt;  in mca. But not conform.
4266    ham   &lt;DECIMAL&gt; m but its not a common car he...
4418    ham   says that he's quitting at least5times a day ...

In [26]:
df['Messages'][2766]

' and  picking them up from various points'

In [27]:
df['Messages'][2766].strip()

'and  picking them up from various points'

In [28]:
df[df['Messages'].str.startswith('...')]

     Status                                    Messages
4838    ham  ....photoshop makes my computer shut down.
5408    ham                     ... Are you in the pub?

In [29]:
df[df['Messages'].str.endswith('...')]

     Status                                           Messages
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
3       ham  U dun say so early hor... U c already then say...
22      ham  So ü pay first lar... Then when is da stock co...
38      ham                        Anything lor... U decide...
...     ...                                                ...
5522    ham                Thats cool. I want to please you...
5536    ham  Aiyah ok wat as long as got improve can alread...
5541    ham                              Yeah it's jus rite...
5562    ham  Ok lor... Sony ericsson salesman... I ask shuh...
5565    ham                                       Huh y lei...

[403 rows x 2 columns]

In [30]:
df[df['Messages'].str.endswith(' ')]

     Status                                           Messages
31      ham  Yeah he got in at 2 and was v apologetic. n ha...
56     spam  Congrats! 1 year special cinema pass for 2 is ...
81      ham                   K. Did you call me just now ah?
91      ham  Sorry to be a pain. Is it ok if we meet anothe...
117    spam  You are a winner U have been specially selecte...
...     ...                                                ...
5294   spam  XMAS iscoming & ur awarded either £500 CD gift...
5369    ham     Hi mom we might be back later than  &lt;#&gt;
5483    ham  So li hai... Me bored now da lecturer repeatin...
5514    ham                  Oh... Okie lor...We go on sat...
5533    ham  Hey chief, can you give me a bell when you get...

[181 rows x 2 columns]

In [31]:
df['Messages'][5294]

'XMAS iscoming & ur awarded either £500 CD gift vouchers & free entry 2 r £100 weekly draw txt MUSIC to 87066 TnC www.Ldew.com1win150ppmx3age16subscription '

# Filtering message with string

In [32]:
df.head()

  Status                                           Messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [33]:
hammsg = df['Status'] == 'ham'

In [34]:
df[hammsg]

     Status                                           Messages
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
6       ham  Even my brother is not like to speak with me. ...
...     ...                                                ...
5565    ham                                       Huh y lei...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[4825 rows x 2 columns]

In [35]:
spam_msg = df['Status'] == 'spam'

In [36]:
df[spam_msg]

     Status                                           Messages
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
5      spam  FreeMsg Hey there darling it's been 3 week's n...
8      spam  WINNER!! As a valued network customer you have...
9      spam  Had your mobile 11 months or more? U R entitle...
11     spam  SIX chances to win CASH! From 100 to 20,000 po...
...     ...                                                ...
5537   spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540   spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547   spam  Had your contract mobile 11 Mnths? Latest Moto...
5566   spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567   spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [77]:
sorry_msg = df['Messages'].str.contains('Sorry')

In [78]:
sorrymsg = df[sorry_msg]

In [79]:
sorrymsg

     Status                                           Messages
57      ham                 Sorry, I'll call later in meeting.
63      ham  Sorry my roommates took forever, it ok if I co...
80      ham                             Sorry, I'll call later
91      ham  Sorry to be a pain. Is it ok if we meet anothe...
223     ham                             Sorry, I'll call later
...     ...                                                ...
5135    ham                        Sorry * was at the grocers.
5191    ham                             Sorry, I'll call later
5423    ham                             Sorry, I'll call later
5458    ham                             Sorry, I'll call later
5558    ham                             Sorry, I'll call later

[111 rows x 2 columns]

In [51]:
len(sorrymsg)

111

In [53]:
sorrymsg[sorrymsg['Status'] == 'spam']

     Status                                           Messages
1699   spam  Free msg. Sorry, a service you ordered from 81...
2915   spam  Sorry! U can not unsubscribe yet. THE MOB offe...
3360   spam  Sorry I missed your call let's talk when you h...

In [54]:
sorrymsg[sorrymsg['Status'] == 'ham']

     Status                                           Messages
57      ham                 Sorry, I'll call later in meeting.
63      ham  Sorry my roommates took forever, it ok if I co...
80      ham                             Sorry, I'll call later
91      ham  Sorry to be a pain. Is it ok if we meet anothe...
223     ham                             Sorry, I'll call later
...     ...                                                ...
5135    ham                        Sorry * was at the grocers.
5191    ham                             Sorry, I'll call later
5423    ham                             Sorry, I'll call later
5458    ham                             Sorry, I'll call later
5558    ham                             Sorry, I'll call later

[108 rows x 2 columns]

In [70]:
latter_msg = df['Messages'].str.contains('later')

In [73]:
lattermsg = df[latter_msg]

In [76]:
lattermsg[lattermsg['Status'] == 'ham']

     Status                                           Messages
57      ham                 Sorry, I'll call later in meeting.
80      ham                             Sorry, I'll call later
85      ham  I call you later, don't have network. If urgnt...
94      ham  Havent planning to buy later. I check already ...
173     ham                  What time you coming down later?
...     ...                                                ...
5438    ham                   What are youdoing later? Sar xxx
5458    ham                             Sorry, I'll call later
5491    ham  U studying in sch or going home? Anyway i'll b...
5494    ham  Cool, we shall go and see, have to go to tip a...
5558    ham                             Sorry, I'll call later

[127 rows x 2 columns]

# Spliting Text

In [80]:
mystr = 'Udemy course : By farjad Khawaja : Natural Language Processing bu python'

In [81]:
mystr.split()

['Udemy',
 'course',
 ':',
 'By',
 'farjad',
 'Khawaja',
 ':',
 'Natural',
 'Language',
 'Processing',
 'bu',
 'python']

In [83]:
mystr.split(':')

['Udemy course ',
 ' By farjad Khawaja ',
 ' Natural Language Processing bu python']

In [93]:
mystr.split(maxsplit=4)

['Udemy',
 'course',
 ':',
 'By',
 'farjad Khawaja : Natural Language Processing bu python']

In [94]:
df.head()

  Status                                           Messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [95]:
df['Messages'][0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [96]:
df['Messages'][0].split()

['Go',
 'until',
 'jurong',
 'point,',
 'crazy..',
 'Available',
 'only',
 'in',
 'bugis',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet...',
 'Cine',
 'there',
 'got',
 'amore',
 'wat...']

In [97]:
df['Messages'][0].split()[0]

'Go'

In [98]:
df['Messages'][0].split()[2]

'jurong'

In [101]:
df['Messages'].str.split()

0       [Go, until, jurong, point,, crazy.., Available...
1                    [Ok, lar..., Joking, wif, u, oni...]
2       [Free, entry, in, 2, a, wkly, comp, to, win, F...
3       [U, dun, say, so, early, hor..., U, c, already...
4       [Nah, I, don't, think, he, goes, to, usf,, he,...
                              ...
5567    [This, is, the, 2nd, time, we, have, tried, 2,...
5568        [Will, ü, b, going, to, esplanade, fr, home?]
5569    [Pity,, *, was, in, mood, for, that., So...any...
5570    [The, guy, did, some, bitching, but, I, acted,...
5571                    [Rofl., Its, true, to, its, name]
Name: Messages, Length: 5572, dtype: object

In [107]:
df['Messages'].str.split()[3]

['U',
 'dun',
 'say',
 'so',
 'early',
 'hor...',
 'U',
 'c',
 'already',
 'then',
 'say...']

# Processing on column

In [112]:
df.columns

Index(['Status', 'Messages'], dtype='object')

In [114]:
df.columns.str.len()

Int64Index([6, 8], dtype='int64')

In [116]:
df.columns.str.upper()

Index(['STATUS', 'MESSAGES'], dtype='object')

In [118]:
df.columns = df.columns.str.title()

In [119]:
df.head()

  Status                                           Messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...